<div class="footer clearfix">
	<div class="footer-logo">
		<img src="img/logo.png" alt="PH Steemit Stats">
	</div>
	<div class="footer-credits">
		<p>Created by <a href="https://steemit.com/@vallesleoruther" target="_blank">@vallesleoruther</a></p>
	</div>
</div>