{{!-- <nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img src="/images/logo.png" alt=""></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{{#ifeq title 'Home'}}active{{/ifeq}}"><a href="/">Home</a></li>
        <li class="{{#ifeq title 'Active Users'}}active{{/ifeq}}"><a href="/active">Active Users</a></li>
        <li class="{{#ifeq title 'Inactive Users'}}active{{/ifeq}}"><a href="/inactive">Inactive Users</a></li>
         <li class="{{#ifeq title 'Inactive Users'}}active{{/ifeq}}"><a href="/new">New Users</a></li>
      </ul>
    </div>
  </div>
</nav> --}}
<nav class="codrops-demos">
  <a {{#ifeq title 'Home'}}class="current-demo"{{/ifeq}} href="/">Home</a>
  <a {{#ifeq title 'About'}}class="current-demo"{{/ifeq}} href="/about">About</a>
  <a {{#ifeq title 'New'}}class="current-demo"{{/ifeq}} href="/new">New Users</a>
  <a {{#ifeq title 'Active'}}class="current-demo"{{/ifeq}} href="/active">Active Users</a>
  <a {{#ifeq title 'Inactive'}}class="current-demo"{{/ifeq}} href="/inactive">Inactive Users</a>
</nav>