<div class="banner">
	<h1>About Philippines Steem Stats</h1>
	<p>What is Philippine Steemit Stats? Philippines Steemit Stats is a web app that displays the data of Steemit Users from the Philippines. The data comes from STEEMSQL created by @arcange
	</p>
	<p>
	The web application is created by Leo Ruther Vales or @vallesleoruther on Steemit. The 
	aim of this web application is to provide data of Steemit users from the Philippines. The 
	data provided in the web application mainly shows the active, inactive, and new users 
	from the Philippines.
	</p>
	<p>
	The data in the web application is very useful in my own opinion, it can be used to build
	sub communities in their own areas. The data also presents the newly created users of Steemit from the Philipines, we can use this valuable data to guide the new users at an 
	stage to increase user retention. As of now there are more inactive users than active users.
	</p>
	<p>
	The web application is stil in BETA stage as, there will be more improvemnts in the future.
	The web application is also open sourced, you can even create one for your own country,
	fork the repository. If you want to contribute to the project it can be searched in Utopian.
	</p>
</div>
<div class="quicklinks clearfix">
	<div class="quicklink">
		<h1>Active Users</h1>
		<a href="/active" class="readmore">View all</a>
	</div>
	<div class="quicklink">
		<h1>Inactive Users</h1>
		<a href="/inactive" class="readmore">View all</a>
	</div>
	<div class="quicklink">
		<h1>New Users</h1>
		<a href="/new" class="readmore">View all</a>
	</div>
</div>