<div class="banner">
  <h1>Errpr</h1>
  <p>Database Query Deadlock occured, sometimes deadlocks occur when querying the database go back to Home and try again or refresh this page.
 q<a href="/" class="readmore">Back to home</a>
</div>