<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <h1>Error</h1>
          <h5 class="text-uppercase">Database Query Deadlock occured, sometimes deadlocks occur when querying the database go back to Home and try again.</h5>
          <a href="/" class="btn btn-primary">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
